<div class="new">
  <div class="container">
    <!-- Title of News -->
      <h2 class="titleH">{{feetTitle.title}}</h2>

    <div class="row cus-row">
      <!-- Cards OF News -->
      <div class="cus-col wow slideInLeft" *ngFor="let new of showenNews">
        <div class="card ">
            <div class="img">
                <img src={{new.enclosure.link}} alt="">
            </div>
            <div class="overlay"></div>
          <div class="mask">
            <span class="title">{{new.title}}</span>
            <br>
            <span>{{new.pubDate}}</span>

          </div>
        </div>
      </div>
    </div>
    <!-- Btn Read More -->
    <div class="view-more">
        <a class="" (click)="viewMore($event)" [hidden]="showenNews.length == allNews.length">VIEW MORE</a>
    </div>

  </div>
</div>



